<h1>Меню</h1>

<%
   menus_array = []
   @menus.each do |menu|
     menus_array << menu.menu
   end
   menus_array = menus_array.uniq
   menus_array.sort!
   menus_array.each do |one_menu|
%>

<table class="table table-hover">
  <thead>
    <tr>
      <!--<th>Menu</th>-->
      <th><h4><%= one_menu %></h4></th>
      <!--<th>Фотография</th>-->
      <th>Блюдо</th>
      <th>Состав</th>
      <th>Цена</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.where("menu = ?", one_menu).each do |menu| %>
      <tr>
        <!--<td><%#= menu.menu %></td>-->
        <td><%= image_tag(menu.url_foto, width: "120px") %></td>
        <!--<td><%#= menu.url_foto %></td>-->
        <td><%= menu.name %></td>
        <td><%= menu.part %></td>
        <td><%= menu.price %></td>
        <td><%= link_to 'подробнее', menu %></td>
        <td><%= link_to 'ред.', edit_menu_path(menu) %></td>
        <td><%= link_to 'удалить', menu, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'Добавить блюдо', new_menu_path, class: 'btn' %>
