<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @menu.menu %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Part:</strong>
  <%= @menu.part %>
</p>

<p>
  <strong>Url foto:</strong>
  <%= @menu.url_foto %>
</p>

  <%= image_tag(@menu.url_foto, width: "200px") %>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
